/* HTML file 1 - quiz homepage */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 150px 0;
    font-size: 20px;
}

#quizDescription {
    font-weight: bold;
}

.highscoresAndTimer {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.container, 
.quiz {
    margin: 100px 200px 0;
}

/* Homepage header */
h1 {
    color: #8C0F0F;
    text-shadow: #FCBF00 1px 0 10px;
}

/* Start button on homepage */
#start {
    background-color: #8C0F0F;
    color: #FCBF00;
    font-size: 20px;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
}

a#start:hover {
    opacity: 50%;
    cursor: pointer;
    text-decoration: underline;
}

a#start {
    text-decoration: none;
}

 /* Quiz Questions */
.quizQuestions {
    text-align: left;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
}

button {
    background-color: #8C0F0F;
    color: #FCBF00;
    font-size: 18px;
    padding: 8px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
    text-shadow: #FCBF00 2px 0 10px;
}

#validation {
    text-align: left;
    font-weight: light;
    font-weight: normal;
    font-style: italic;
}

/* div that displays when the quiz is done */
#allDone {
    visibility: hidden;
}

#userScore {
    font-weight: bold;
}

#scoreFormInstructions {
    font-size: 15px;
}